*.secrets
appsettings.json
local.settings.json
logs/*
data/

# Local python packages
.python_packages/

# MacOS
.DS_Store

# Python Environments
.env
.prompting_venv
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
AzuriteConfig
.azurite

# VSCode Configs
.vscode/