# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

anthropic
azure-functions
azure-functions-durable
azure-storage-blob
beautifulsoup4
bleach
chardet
go-task-bin
faiss-cpu
microsoft-python-type-stubs @ git+https://github.com/microsoft/python-type-stubs.git
mypy
pandas
pandas-stubs
pydantic
pydantic-xml
pytest
python-dotenv
requests
scikit-learn
types-bleach
types-requests
ulid
validators
